/* this style is for the nav bar */
.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #0000009e;
  overflow-x: hidden;
  transition: 1.0s;
}

.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #fdfdfd;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: #b7a19e;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
  font-size: 40px;
  top: 15px;
  right: 35px;
  }
}

/* this code is for the log in page */
.style-forms{
    width: 40%;
}
@media only screen and (max-width: 600px) {
  .style-forms{
    width: 100%;
  }
}
.alagin-text{
    text-align: center;
}
/* this code is for the register form*/
.style-register-forms{
    width: 40%;
}
@media only screen and (max-width: 600px) {
  .style-register-forms{
    width: 100%;
  }
}
.style-title-register{
     text-align: center;
}
/* this code is for the index */
.padding-index{
    padding: 15px;
}
.text-centre{
text-align: center;
padding: 10px;
}
.style-company-name{
text-align: right;
padding: 5px;
text-decoration: none;
color: #7d7d8e;
animation-name: example;
animation-duration: 4s;
}
@keyframes example {
  from {color:#7d7d8e;}
  to {color:black;}
}
.style-company-name, a:hover{
text-decoration: none;
}
.style-company-name:hover{
color: black;

}
.style-button-index, button{
    border: none;
    background-color: #fafafa;
    text-decoration: none;
}
/* this code is to add some animation to the index page */
#animate-profile-image {
  position: relative;
  animation-name: example;
  animation-duration: 3s;
  animation-direction: reverse;
  z-index: 1;  
}
@keyframes example {
  0%   { left:0px; top:0px;}
  25%  { left:200px; top:0px;}
  50%  { left:200px; top:200px;}
  75%  { left:0px; top:200px;}
  100% { left:0px; top:0px;}
}
/* code for styling the accounts page */
#style-user-name{
    padding: 20px;
    text-align: center;

}
#style-name{
    text-transform: uppercase;
}
/* code for styling slideshow in the index.html */
.slide-container{
    position: relative;
}
.effect{
    animation-name: effect;
    animation-duration: 2s;
}
@keyframes effect{
    from{
        opacity: 0.3;
    }
    to{
        opacity: 1;
    }
}