
{% extends 'base.html' %}
{% block content %}
{% for pais in Travel | reverse %}
<div class="container padding-index">
<div class="row">
    
    <div class="col-sm-12 col-md-6 col-lg-6">
       <h2 class="text-centre">
        {{pais.title}}
       </h2>
       <h4>
        {{pais.subtitle}}
       </h4>
       <a href="{{pais.link}}" target="_blank" class="style-link">
       <h5 class="style-company-name">
       {{pais.company}}
       </h5>
       </a>
       <p id="{{pais._id}}_truncated" style="display: block;">
        {{pais.subject|truncate(500, True)}}
       </p>
       <p id="{{pais._id}}_full" class="hide-all-text" style="display: none;">
       {{pais.subject}}
       </p>
       <small class="text-muted ml-2">
       <button class="style-button-index" onclick="showMore('{{ pais._id }}')" id="{{ pais._id }}_show">Show More</button>
       </small>
        </div>
        <div class="col-sm-12 col-md-6 col-lg-6">
        <img src="{{pais.travel_image_src}}" class="rounded" style="width:100%; height:100%"/>
        </div>
   
    </div>
    <hr></hr>
    </div>
     {% endfor %}
    
{% endblock %}