{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="content-section">
<div class="row">
<div class=" col-md-12-offset-3 col-lg-12-offset-3 col-sm-12">
        <form method="POST" action="" class="style-forms">
            {{ form.hidden_tag() }}
            <fieldset class="form-group align-self-center">
                <legend class="border-bottom mb-4 alagin-text">Log In</legend>
                <div class="form-group">
                    {{ form.email.label(class="form-control-label") }}
                    {% if form.email.errors %}
                        {{ form.email(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.email(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.password.label(class="form-control-label") }}
                    {% if form.password.errors %}
                        {{ form.password(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.password.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.password(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-check">
                    {{ form.remember(class="form-check-input") }}
                    {{ form.remember.label(class="form-check-label") }}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
                <small class="text-muted ml-2">
                <a href="{{ url_for('reset_request') }}">Forgot Password?</a>
            </small>
            </div>
        </form>
        </div>
    </div>
    </div>
    </div>
    <div class="container">
    <div class="border-top pt-3">
        <small class="text-muted">
            Need An Accond? register and take part <a class="ml-2" href="{{ url_for('registration') }}">Sign Up Now</a>
        </small>
    </div>
    </div>

{% endblock %}