{% extends 'base.html' %}
{% block content %}
<div class="container">
<div class="row">
<div class="col">
<h1> Upload_image </h1>
<hr>
<form action="/upload_image" method="POST" enctype="multipart/form-data">
<div class="form-group">
<label> select image </label>
<div class="custom-file">
<input type="file" class="custom-file-input" name="image" id="image"/>
<label class="custom-file-label" for="image"> select image... </label>
</div>
</div>
<button class="btn btn-primary" type="submit">Button</button>
</form>
</div>
</div>
</div>
{% endblock %}